/* reset rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* rules used (or usable) in different parts of the page */

.inside-box {
  border: 1px solid black;
  padding: 20px 0;
  text-align: center;
}

#first-row,
#second-row,
#third-row,
#fourth-row  {
  background-color: pink;
}

#fifth-row {
  background-color: salmon;
}
